html
	head
		meta(charset="UTF-8")
		title Войти в аккаунт
		link(rel="stylesheet" href="/style.css")
	body
		h2 bruh
		script.
			function httpGet(theUrl)
			{
					var xmlHttp = new XMLHttpRequest();
					xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
					xmlHttp.send( null );
					return xmlHttp.responseText;
			}
			console.log(httpGet("/api/islogged"));
