@import '@sweetalert2/theme-dark/dark.scss';
html {
  scroll-behavior: smooth;
}
:root {
	background-color: #302e33;
  font-family: Manrope, Inter, SegoeUI, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
	font-size: 16px;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

.aos-animate {
	transition-timing-function: cubic-bezier(.29,-0.01,.53,1.01) !important;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
