.fade-enter-active {
	-webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both
}
@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.fade-leave-active {
	-webkit-animation: fade-out-bck .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;animation: fade-out-bck .2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes fade-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}@keyframes fade-out-bck{0%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}100%{-webkit-transform:translateZ(-80px);transform:translateZ(-80px);opacity:0}}

.slide-left-enter-from {
	transform: translateX(-100vw);
	opacity: 0;
}
.slide-left-enter-to {
	opacity: 1;
}
.slide-left-leave-from {
	opacity: 1;
}
.slide-left-leave-to {
	transform: translateX(100vw);
	opacity: 0;
}
.slide-left-enter-active,
.slide-left-leave-active {
	grid-template-columns: 1fr;
	grid-row-start: 1;
	grid-column-start: 1;
	transition: 0.9s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.slide-right-enter-from {
	transform: translateX(100vw);
	opacity: 0;
}
.slide-right-enter-to {
	opacity: 1;
}
.slide-right-leave-from {
	opacity: 1;
}
.slide-right-leave-to {
	transform: translateX(-100vw);
	opacity: 0;
}
.slide-right-enter-active,
.slide-right-leave-active {
	transition: 0.9s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
